<%- include('./partials/header.ejs')%> 
    <div class = "contents">
        <h3>Contact Information</h3> 
        <p>For questions reguarding Niner eSports events, join the Discord server!</p>
        <p>For questions of issues with this website, please contact the owner at <b>example@uncc.edu</b> or <b>123-456-7890</b></p>
    </div>
<%- include('./partials/footer.ejs')%> 