<%- include('../partials/header.ejs')%>

    <main>
        <div class="contents">
            <div class="lineup">
                <h2>Halo: 4v4 Custom Games</h2>
                <div>
                    <a href="connections.html"><button>Update</button></a>
                    <a href="connections.html"><button>Delete</button></a>
                </div>
            </div>
            <div class="event_content">
                <img src="../images/event_halo.webp" alt="Halo 4v4 Event"></a>
                <div>
                    <p><b>Hosted by: Niner Esports</b></p>
                    <p>Saturday, September 24, 2022</p>
                    <p>7:00pm - 9:00pm</p>
                    <p>Student Union, room 340</p>
                </div>
            </div>
            <br>
            <br>
            <h3>Details</h3>
            <p class="indent">Come meet other Halo fans and play fun customized game modes (8 people needed!)</p>
            <br>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>