<!DOCTYPE ejs>
<ejs lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>
        Niner Gaming Meetups - Home
    </title>
    <link href="/css/default.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <nav>
                <a href="/"><img src="/images/niner-esports-logo.ico" alt="Website Logo"
                        class="header-logo"></a>
            </nav>
            <nav class="main-nav">
                <a href="/events/">Events</a>
            </nav>
        </div>

        <nav class="user-nav">
            <%if(!user) {%>
                <a href="/events/new">Make a New Event</a> ||
                <a href="/users/login">Log In</a> ||
                <a href="/users/new">Sign Up</a>
            <%} else {%>
                <a href="/events/new">Make a New Event</a> ||
                <a href='/users/profile'>Profile</a> ||
                <a href='/users/logout'>Logout</a>
            <%}%>
        </nav>

        <% if(errorMessages.length > 0) {%>
            <% errorMessages.forEach(message=>{%>
                <div class='error'>
                    <%=message%>
                </div>
            <%});%>
        <%}%>
        
        <% if(successMessages.length > 0) {%>
            <% successMessages.forEach(message=>{%>
                <div class='success'>
                    <%=message%>
                </div>
            <%});%>
        <%}%>

    </header>