.header {
  background-color: #046A38;
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

body {
  margin-left: 5em;
  margin-right: 5em;
  background-color: white;
}

main {
  color: black;
}

a {
  color: #B9975B;
  text-decoration: none;
}

a:hover {
  color: #27251F;
  text-decoration: underline;
}

.footer {
  background-color: #046A38;
  display: inline-flex;
  /* Needed to get footer text and logos on same line */
  justify-content: space-between;
  /* Needed to get text and logo in corners */
  width: 100%;
  padding: 10px;
}

.header-logo {
  width: 4em;
  height: auto;
}

.user-nav {
  color: #B9975B;
}

.footer-content {
  color: #B9975B;
}

.footer-logos {
  text-align: right;
  /* width: 2em;
  height: auto;
  /* display: inline-flex; */
  /* justify-content: space-between; */
} 