<%- include('../partials/header.ejs')%>
    <main>
        <div class="contents">
            <h3>Upcoming Group Play Events</h3>
            <ul>
                <li><a href="/events/1">Halo: 4v4 Custom GamesLHADHOEQW</a></li>
                <li><a href="connection.ejs">Apex Legends: Trios Ranked Play</a></li>
                <li><a href="connection.ejs">Call of Duty: Search and Destroy Tournament</a></li>
            </ul>
            <h3>Upcoming eSports Livestreams</h3>
            <ul>
                <li><a href="connection.ejs">Halo: HCS Majors Livestream</a></li>
                <li><a href="connection.ejs">Apex Legends: Team Qualifiers Livestream</a></li>
                <li><a href="connection.ejs">Call of Duty: CDL Major 1 Livestream</a></li>
            </ul>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>