<%- include('./partials/header.ejs')%> 
    <div class = "contents">
        <h3>About This Website</h3> 
        <p>This website exsists in order to give UNCC students a way to learn about upcoming gaming related events both on campus and on livestreams.</p>
        <p>This website was created by Connor Kells in Fall 2022 for ITIS-4166.</p>
    </div>
<%- include('./partials/footer.ejs')%> 