<%- include('./partials/header.ejs')%> 
    <div class = "content">
        <h3>About</h3> 
        <p>Site backgroud/details go here</p>
    </div>
    <h1>ALHFOPIQWJOIPEGJ</h1>
<%- include('./partials/footer.ejs')%> 