<%- include('../partials/header.ejs')%>
    <main>
        <div class="contents">
            <p>Welcome to the Niner Gaming Meetups site.</p>
            <p>
                Attend and create events related to playing or watching video games.
                These events include things such as eSports streams, competititve gaming events, and causal or
                competitve
                group play.
                Find others on on near campus that are interested in the same games as you and connect with them!
            </p>
            <p>Goto the events page to see upcoming events!</p>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>