
    <footer>
        <div class="footer">
            <nav class="footer-content">
                &copy;Connor Kells ||
                <a href="about.html">About</a> ||
                <a href="contact.html">Contact</a>
            </nav>

            <div class="footer-logos">
                <a href="https://twitter.com"><img src="/images/twitter.ico" alt="Twitter Logo" class="footer-logo"></a>
                <a href="https://facebook.com"><img src="/images/facebook.ico" alt="Facebook Logo"
                        class="footer-logo"></a>
            </div>
        </div>
    </footer>
</body>

</html>