<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>
        Niner Gaming Meetups - Home
    </title>
    <link href="../css/default.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <nav>
                <a href="index.html"><img src="../images/niner-esports-logo.ico" alt="Website Logo"
                        class="header-logo"></a>
            </nav>
            <nav class="main-nav">
                <a href="connections.html">Events</a>
            </nav>
        </div>

        <nav class="user-nav">
            <a href="newConnection.html">Make a New Event</a> ||
            <a href="login.html">Login</a> ||
            <a href="signup.html">Sign Up</a>
        </nav>
    </header>