<!DOCTYPE ejs>
<ejs lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>
        Niner Gaming Meetups - Home
    </title>
    <link href="/css/default.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <nav>
                <a href="/"><img src="/images/niner-esports-logo.ico" alt="Website Logo"
                        class="header-logo"></a>
            </nav>
            <nav class="main-nav">
                <a href="/events/">Events</a>
            </nav>
        </div>

        <nav class="user-nav">
            <a href="/events/new">Make a New Event</a> ||
            <a>Log In</a> ||
            <a>Sign Up</a>
        </nav>
    </header>